html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Muli', sans-serif;
}

a {
  color: black;
}

a:hover {
  border-bottom: 2px solid purple;
}

.banner-principal {
  color: #ffffff;
  background-color: purple;
}

.sub-menu-blog {
  background-color: gray;
  color: white;
  padding: 0.5em;
}

.sub-menu-blog ul li {
  display: inline;
  padding: 2em;
}

.cadastro {
  background-color: orange;
  color: white;
}

.img-post {
    background: gray;
    height: 350px;
    width: 650px;
}

.box-conteudo {
  align-items: center;
  padding-right: 2em;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.text-align-center {
  text-align: center;
}

footer {
  background-color: gray;
  color: white;
  padding: 2em;
}

.desenvolvedores {
  background-color: black;
  color: white;
  padding: 1em;
  font-size: 90%;
  text-align: center;
}