html {
    scroll-behavior: smooth;
    font-size: 1rem;
}


/* CORES */
.roxo {
    color: #6a24be;
}

.rosa {
    color: #cc0249;
}

.laranja {
    color: #ee2902;
}

.preto {
    color: #111111;
}

.verde {
    color: #467f36;
}


body {
    font-family: 'Muli', sans-serif;
}

.banner-back {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 450px;
    /*left: 0.25%;*/
}

.nav-item {
    color: #000000;
}

/*.texto-banner {
  max-width: 600px;
  font-family: Muli;
  font-size: 70px;
  font-weight: 900;
  font-style: bold;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #6a24be;
}*/

.img-thumbnail {
    border: 0;
    border-radius: 0;
}

.boto {
    width: 135px;
    height: 45px;
    border-radius: 8px;
    background-color: #467f36;
}

/*.titulo-destaque{
  font-family: Muli;
  font-size: 55.5px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #cc0249;
}

.resumo-post{
  font-family: Muli;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}*/
footer {
    background-color: #291F3B;
    color: white;
    padding: 2em;
}

.desenvolvedores {
    background-color: black;
    color: #999999;
    padding: 1em;
    font-size: 90%;
    text-align: center;
}

.quote {
    font-family: Georgia,'Times New Roman',Gabriola;
    text-align: center;
    font-style: italic;
    color: #444444;
    font-size: 1.2em;
    line-height: 1.3;
    background-color:#F2DA7A;
}

hr {
    width: 60%;
}






/*FABI*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    h2 {
        font-size: 1em;
        line-height: 1.5;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .texto-banner {
        max-width: 80%;
        text-align: left;
    }

    .titulo-destaque {
        font-size: 1.2em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .resumo-post {
        font-family: Muli;
        font-size: 0.8em;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
    }

    .titulo-post {
        font-size: 2em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .olho-post {
        font-family: Muli;
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
        color:#353535;
    }
}



@media (min-width: 577px) {
    h1 {
        font-size: 2em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    h2 {
        font-size: 1.3em;
        line-height: 1.5;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .texto-banner {
        max-width: 80%;
        text-align: left;
    }


    .titulo-destaque {
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }



    .resumo-post {
        font-family: Muli;
        font-size: 0.9em;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
    }

    .titulo-post {
        font-size: 2em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .olho-post {
        font-family: Muli;
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
        color: #353535;
    }


}

@media (min-width: 992px) {
    h1 {
        font-size: 3em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    h2 {
        font-size: 1.3em;
        line-height: 1.5;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .texto-banner {
        text-align: left;
        max-width: 70%;
    }


    .titulo-destaque {
        font-size: 1.7em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }



    .resumo-post {
        font-family: Muli;
        font-size: 1.1em;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
    }

    .titulo-post {
        font-size: 2.6em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .olho-post {
        font-family: Muli;
        font-size: 1em;
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
        color: #353535;
    }

}

@media (min-width: 1200px) {
    h1 {
        font-size: 4.5em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    h2 {
        font-size: 1.8em;
        line-height: 1.5;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    h3 {
        font-size: 1.8em;
        line-height: 1.5;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .texto-banner {
        text-align: left;
        max-width: 65%;
    }


    .titulo-destaque {
        font-size: 2em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .resumo-post {
        font-family: Muli;
        font-size: 1.3em;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
    }

    .titulo-post {
        font-size: 3em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .olho-post {
        font-family: Muli;
        font-size: 1.2em;
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
        color: #353535;
    }

    .titulo-destaque-post {
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1.08;
        font-family: Muli;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .resumo-post-post {
        font-family: Muli;
        font-size: 1em;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
    }

}

.texto-esquerda-direita {
    padding: 50px;
    margin: 0;
    text-align: left;
}

.texto-direita-esquerda {
    padding: 50px;
    margin: 0;
    text-align: right;
}

footer a {
    color: #dddddd;
}

    footer a:hover {
        color: #F2DA7A;
    }

.logo-rodape {
    opacity: 0.5;
}

.socialMediaIcons {
    border-radius: 5px;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: inline-block;
}

    .socialMediaIcons i {
        color: #000000;
        font-size: 24px;
        padding: 8px 10px;
        margin: 0;
        text-align: center;
        position: relative;
    }

    .socialMediaIcons:hover {
        border-radius: 5px;
        background-color: #cc0249;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        display: inline-block;
    }


        .socialMediaIcons:hover i {
            color: #ffffff;
            font-size: 24px;
            padding: 8px 10px;
            margin: 0;
            text-align: center;
            position: relative;
        }

        .social-media{
            text-decoration:none;
            color:#ffffff;
        }

.outros-posts a {
    text-decoration: none;
    color:#111111;
}