html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Muli', sans-serif;
}

.banner-back{
  background-image: url("/_images/MENINO-TABLET.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 1199px;
  height: 481px;
  }

.nav-item {
  color: #000000;
}

.texto-banner {
  width: 600px;
  font-family: Muli;
  font-size: 71px;
  font-weight: 900;
  font-style: bold;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #6a24be;
}

.boto {
  width: 135px;
  height: 45px;
  border-radius: 8px;
  background-color: #467f36;
}

.cadastro {
  background-color: orange;
  color: white;
}

.img-post {
    background: gray;
    height: 350px;
    width: 650px;
}

.box-conteudo {
  align-items: center;
  padding-right: 2em;
}

footer {
  background-color: gray;
  color: white;
  padding: 2em;
}

.desenvolvedores {
  background-color: black;
  color: white;
  padding: 1em;
  font-size: 90%;
  text-align: center;
}